html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  border: 0;
  font-family: 'Rubik', sans-serif;
  cursor: default;
  background-color: #fffafa;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 60px;
  font-size: 18px;
  justify-content: flex-end;
  z-index: 100;
  transition: background-color 0.4s ease-out;
}

.nav-bar-color {
  background-color: #fffafa !important;
}

#nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#nav li {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  padding: 1px 30px 0px 30px;
  cursor: pointer;
}

#nav span {
  cursor: pointer;
}

#nav a:hover, #favorites:hover {
  color: pink;
}

#home {
  min-height: 740px;
  padding: 10px 10px 10px 10px;
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home h1 {
  text-align: center;
  font-size: 100px;
  margin-bottom: -20px;
}

#home h3 {
  font-weight: 500;
  font-size: 16px;
}

#home .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#home .social-links a {
  margin: 0 3px 0 3px;
  color: black;
}

.net-icon {
  padding: 5px 7px 5px 7px;
  font-size: 15px;
  border-radius: 12px;
}

.fa-linkedin-in {
  background-color: #0077B5;
  color: white;
}

.fa-yelp {
  background-color: #c41200;
  color: white;
}

.fa-github-alt {
  background-color: #333;
  color: #f5f5f5;
  padding: 5px 8px 5px 8px;
}

.fa-envelope-open {
  background-color: #00b3b3;
  color: white;
}

#about {
  min-height: 600px;
  padding: 100px 20px 20px 20px;
}

#about h2 {
  font-size: 60px;
  padding-left: 8%;
}

#about .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

#about .about-desc {
  padding-left: 100px;
  width: 600px;
}

.about-desc p {
  font-size: 16px;
}

#about .profile-picture img {
  width: 360px;
  height: 360px;
  padding: 1px 50px 1px 50px;
}

.profile-picture {
  justify-content: center;
  align-items: center;
  display: flex;
}

#about h4 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: -10px;
}

#about h5 {
  font-size: 18px;
  margin-top: -45px;
  font-weight: 500;
}

.contact-button {
  width: 210px;
  padding: 15px 2px 15px 2px;
  background-color: #e5cbcf;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Rubik', sans-serif !important;
  text-align: center;
  cursor: pointer;
}

.contact-button:hover {
  opacity: 0.8;
}

.contact-button a {
  color: white;
}

#projects {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 100px 20px 150px 20px;
}

#projects h2 {
  font-size: 60px;
  padding-left: 8%;
}

#projects .project-display {
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

#projects .boba-display-1 {
  max-width: 500px;
  height: auto;
  padding-left: 50px;
}

#projects .boba-display-2 {
  max-width: 400px;
  height: auto;
}

#projects .weather-demo {
  max-width: 250px;
  height: auto;
  border-radius: 48px;
}

.project-button {
  width: 200px;
  padding: 18px 5px 18px 5px;
  border: 1px solid black;
  font-size: 14px;
  font-family: 'Rubik', sans-serif !important;
  position: absolute;
  right: 50px;
  margin-right: 11%;
  margin-top: -30px;
  transition: all .2s ease-in-out !important;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}

#projects .project-button:hover {
  cursor: pointer !important;
  transform: scale(1.1) !important;
}

#personal {
  height: 800px;
  padding: 100px 20px 20px 20px;
}

#personal h2 {
  font-size: 50px;
  padding-left: 8%;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog h3 {
  margin-top: -20px;
  font-weight: 500;
  font-size: 15px;
}

.blog-photos {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog img {
  max-width: 250px;
  height: auto;
  padding-right: 4px;
}

.blog img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.fa-angle-double-left {
  padding-right: 10px;
}

.blog-photo-row-2 img {
  height: 99px;
  width: 99px;
  padding-right: 4px;
  object-fit: cover;
}

.blog-photo-row-1, .blog-photo-row-2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.blog-photo-row-2 {
  padding-top: 50px;
}

.yelp-profile {
  color: #c41200;
}

.yelp-profile:hover, .google-profile:hover {
  color: pink;
}

.google-profile {
  color: #4285F4;
}

@media (max-width: 400px) {
  .boba-display-1 {
    max-width: 280px !important;
    height: auto;
    padding-left: 0px !important;
  }

  .boba-display-2 {
    max-width: 265px !important;
    height: auto;
    margin-left: 0px !important;
  }

  .weather-demo {
    max-width: 190px;
  }

  #about .about-desc {
    padding-left: 0px;
    max-width: 290px !important;
  }

  #home {
    min-height: 700px;
    padding: 10px 10px 10px 10px;
    background-image: url("../images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #home h1 {
    text-align: center;
    font-size: 70px !important;
    margin-bottom: -20px;
  }

  #home h3 {
    font-weight: 500;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 450px) {
  .boba-display-1 {
    max-width: 300px !important;
    height: auto;
    padding-left: 0px !important;
  }

  .boba-display-2 {
    max-width: 280px !important;
    height: auto;
    margin-left: 0px !important;
  }

  .weather-demo {
    max-width: 200px;
  }

  #about .about-desc {
    padding-left: 0px;
    max-width: 350px;
  }

  #home {
    min-height: 650px;
    padding: 10px 10px 10px 10px;
    background-image: url("../images/bg-phone.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

@media only screen and (max-width: 600px) {
  #home h1 {
    font-size: 85px;
  }
  #home h3 {
    font-size: 16px;
  }

  #nav {
    justify-content: center;
    font-size: 12px;
  }

  #nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
  }

  #nav li {
    font-weight: 500;
    font-size: 12px;
    list-style: none;
    padding: 8px 12px 0px 12px;
    cursor: pointer;
  }

  #about .profile-picture img {
    width: 280px;
    height: 280px;
    padding: 1px 50px 1px 50px;
  }

  #about .about-desc {
    padding-left: 0px;
    max-width: 400px;
  }

  .about-desc p {
    font-size: 13px;
  }

  .project-button {
    width: 200px;
    border: 1px solid black;
    font-size: 14px;
    font-family: 'Rubik', sans-serif !important;
    position: absolute;
    left: 0;
    margin-left: 11%;
    transition: all .2s ease-in-out !important;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  .project-button {
    width: 200px !important;
  }
}

@media (max-width: 1000px){
  #about .container {
    flex-direction: column;
  }
  #about .about-desc {
    padding-left: 5%;
  }

  #about h4 {
    text-align: center;
  }

  .project-header {
    display: flex;
    flex-direction: column;
  }

  .projects-header {
    min-height: 250px;
  }

  .projects-header h2 {
    margin-bottom: -2px;
  }

  .projects-button {
    margin-top: 50px !important;
  }
}

@media (max-width: 1075px){
  .project-button {
    width: 250px;
    padding: 18px 5px 18px 5px;
    border: 1px solid black;
    font-size: 16px;
    font-family: 'Rubik', sans-serif !important;
    position: absolute;
    right: 0px;
    margin-right: 5%;
    margin-top: 2%;
    transition: all .2s ease-in-out !important;
    text-align: center;
  }

  #projects .project-display {
    padding-left: 5px;
    padding-right: 5px;
  }

  .boba-display-1 {
    max-width: 400px;
    height: auto;
    padding-left: 0px !important;
  }

  .boba-display-2 {
    max-width: 380px;
    height: auto;
  }

  #projects .weather-demo {
    max-width: 250px;
    height: auto;
    border-radius: 50px;
  }
}

@media (max-width: 1400px){

  .project-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
